<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
schrink-to-fit=no">
    <title>Job Application Form</title>
</head>
<body>
    <h1>Job Application Form</h1>
    <form>
        <div>
            <labels for="first_name">First Name:</labels>
            <input type="text" id="first_name" name="first_name" required>
        </div>
        <div>
            <labels for="last_name">Last Name:</labels>
            <input type="text" id="last_name" name="last_name" required>
        </div>
        <div>
            <labels for="email">Email:</labels>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <labels for="date">Available start date:</labels>
            <input type="date" id="date" name="date" required>
        </div>
        <div>
            <labels>Current occupation</labels>
            <br>
            <div id="occupation">
                <input type="radio" id="employed" name="occupation" required>
                <labels for="employed">Employee</labels>

                <input type="radio" id="unemployed" name="occupation" required>
                <labels for="unemployed">UnEmployee</labels>

                <input type="radio" id="self-employed" name="occupation" required>
                <labels for="self-employed">Self-Employed</labels>

                <input type="radio" id="student" name="occupation" required>
                <labels for="student">Student</labels>

            </div>
        </div>
        <button type="button">Submit</button>
    </form>
</body>
</html>